:root {
    --player-bar-height: 105px;
}

.main-rootlist-rootlistDividerGradient {
    background: unset;
}

input {
    background-color: unset !important;
    border-bottom: solid 1px var(--spice-text) !important;
    border-radius: 0 !important;
    padding: 6px 10px 6px 48px;
    color: var(--spice-text) !important;
}

.x-searchInput-searchInputSearchIcon,
.x-searchInput-searchInputClearButton {
    color: var(--spice-text) !important;
}

/*.main-home-homeHeader,
.x-entityHeader-overlay,
.x-actionBarBackground-background,
.main-actionBarBackground-background,
.main-entityHeader-overlay,
.main-entityHeader-backgroundColor
{
    background-color: unset !important;
    background-image: unset !important;
}*/

.main-playButton-PlayButton.main-playButton-primary {
    color: white;
}

.connect-title, .connect-header {
    display: none;
}

.connect-device-list {
    margin: 0px -5px;
}

/* Remove Topbar background colour */
.main-topBar-background {
    background-color: unset !important;
	right: -500px;
}
.main-topBar-overlay {
    background-color: var(--spice-main);
}

.main-entityHeader-shadow,
.main-contextMenu-menu,
.connect-device-list-container {
    box-shadow: 0 4px 20px #21212130;
}

.main-trackList-playingIcon {
    filter: grayscale(1);
}

span.artist-artistVerifiedBadge-badge svg:nth-child(1) {
    fill: black;
}

/* Full window artist background */
.main-entityHeader-background.main-entityHeader-gradient {
    opacity: 0.6;
    height: 60vh;
}

.main-entityHeader-container.main-entityHeader-withBackgroundImage,
.main-entityHeader-background,
.main-entityHeader-background.main-entityHeader-overlay:after {
    height: 60vh;
}

.main-entityHeader-withBackgroundImage .main-entityHeader-headerText {
    justify-content: center;
    height: 690px;
}

.main-entityHeader-container.main-entityHeader-nonWrapped.main-entityHeader-withBackgroundImage {
    padding-left: 9%;
    height: 60vh;
}

.main-entityHeader-background.main-entityHeader-overlay:after {
    background-image: linear-gradient(transparent,transparent),linear-gradient(var(--spice-main), var(--spice-main));
}

.artist-artistOverview-overview .main-entityHeader-withBackgroundImage h1 {
    font-size: 175px !important;
    line-height: 175px !important;
}

/** Hightlight selected playlist */
.main-rootlist-rootlistItemLink.main-rootlist-rootlistItemLinkActive {
    background: var(--spice-button);
    border-radius: 4px;
    padding: 0 10px;
    margin: 0 5px 0 -10px;
}

.main-navBar-navBarLinkActive {
    background: var(--spice-button);
}

.main-contextMenu-menu {
    background-color: var(--spice-button);
}

.main-contextMenu-menuHeading,
.main-contextMenu-menuItemButton,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):focus,
.main-contextMenu-menuItemButton:not(.main-contextMenu-disabled):hover {
    color: var(--spice-text);
}

.main-playPauseButton-button {
    background-color: var(--spice-button);
    color: white;
}

/** Queue page header */
.queue-queue-title,
.queue-playHistory-title {
    color: var(--spice-text) !important;
}

/** Cards */
.main-cardImage-imageWrapper {
    background-color: transparent;
}

.main-rootlist-rootlistDivider {
    background-color: unset;
}

.main-nowPlayingBar-nowPlayingBar {
    height: var(--player-bar-height);
}

/** Fixes */
.main-contextMenu-menu {
    background-color: var(--spice-card);
}

.main-dropDown-dropDown {
    background-color: var(--spice-button);
    color: black;
}

.main-entityHeader-metaDataText {
    color: var(--spice-button-active);
}

.Root__nav-bar {
    width: 5px;
    transition: width .3s, content-visibility .3s;
    content-visibility: hidden;
}

.Root__nav-bar:hover {
    width: 240px;
    content-visibility: initial;
    transition: width .3s, content-visibility .3s;
}

.main-topBar-historyButtons {
    padding-left: 50px;
}

.main-rootlist-wrapper {
    height: 3030px !important;
}

/*.wQi0raQMEJJrELuj_2FP {
	height: 60vh;
}*/


/** Additions **/
.playback-bar__progress-time {
    min-width: 40px;
    font-size: 15px;
    position: relative;
    bottom: 5px;
    visibility: hidden;
}

#main > div > div.Root__top-container > div.Root__now-playing-bar > footer > div > div.main-nowPlayingBar-center > div > div.playback-bar > div.playback-progressbar.bqYllg5gUoS2S1Y0fjqx > div {
    position: absolute !important;
    padding-top: 5px !important;
}

div.main-nowPlayingBar-center > div > div.playback-bar {
    position: absolute;
    bottom: 0;
}

#main > div > div.Root__top-container > div.Root__now-playing-bar > footer > div > div.main-nowPlayingBar-center > div > div.playback-bar > div.playback-progressbar.bqYllg5gUoS2S1Y0fjqx {
    position: absolute !important;
    width: 100%;
    padding-top: 6px;
}

div.main-coverSlotCollapsed-container > div > a > div > div {
    object-fit: contain;
    width: 150px !important;
    height: 150px !important;
    bottom: 25px;
}

.cover-art .cover-art-image {
    background-color: var(--spice-sidebar);
    background-position: 50%;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
}

.main-coverSlotCollapsed-expandButton {
    top: -15px;
}

.main-nowPlayingWidget-coverExpanded {
    -webkit-transform: translateX(-172px);
    transform: translateX(-172px);
}

.main-playbackBarRemainingTime-container {
    visibility: hidden;
}

.main-playPauseButton-button {
    --button-size: 50px !important;
}

.player-controls__buttons {
    gap: 15px;
    align-items: center;
    margin-bottom: 0px;
}

#main > div > div.Root__top-container > div.Root__now-playing-bar > footer > div > div.main-nowPlayingBar-center > div > div.player-controls__buttons > button > svg {
    fill: black;
}

.lz_1dGnEKWyCpV_qE0ux {
    transition: transform, 0s, ease, 1s;
}

.giO6cIQ8auPNZuTvC4Y8 {
    transition: left, 0s, ease, 1s;
}
